.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.post-header {
    display: flex;
}

.thumbnail-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
}

.users-name{
    align-self: center;
    font-weight: bold;
    letter-spacing: .5px;
}

.post-image {
    width: 99%;
    margin: 0 auto;
}

