.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo-title {
    display: flex;
}

h1 {
    align-self: center;
    font-family: 'billabongregular';
}

h1::before {
    content: "";
    height: 50px;
    width: 1px;
    border-left: 1px solid gray;
    padding-right: 15px;
}

.fab {
    font-size: 2rem;
    align-self: center;
    padding: 15px;
}

.input {
    height: 25%;
    border-radius: 3px;
    border: 1px solid silver;
    padding: 5px;
    text-align: center;
}

.header-icons {
    color: gray;
}

.far {
    font-size: 25px;
    padding: 10px;
}


